{% extends "twoD/layout.html" %}
{% load static %}
{% load humanize %}
{% load custom_tags %}
{% block content %}
<div class="list-group">
  <a href='{% url 'index' %}' type='button' class='nav-btn-custom no-bdr-top'>Home</a>
  {% if user.is_owner %}
  <a type='button' class='nav-btn-custom ' href='{% url 'setting' %}' >Setting</a>
  <a class="nav-btn-custom" href="{% url 'register' %}">Sign Up</a>
  {% endif %}
  
  <a type='button' class='nav-btn-custom no-bdr-bottom' href='{% url 'logout_view' %}' >Logout</a>
</div>
{% endblock %}
              
{% block body %}
<h3 class="text-center">History </h3>
{% if messages  %}
    {% for message in messages %}
        <h4 class="text-center {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</h4>
    {% endfor %}
{% endif %}

<script src=""></script>
<div class="accordion mb-3" id="accordionExample">
{% for a in arcs %}
<div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{ a.arc.id }}" aria-expanded="true" aria-controls="collapse_{{ a.arc.id }}">
        <p><b>{{ a.arc.user.first_name|upper }} </b>| <span> {{ a.arc.date|naturalday }}({{ a.arc.ampm }})</p>
        
      </button>
    </h2>
    <div id="collapse_{{ a.arc.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        
        {% if a.arc.jp %}
        <div class='row'>
          <div class='col col-auto'>Jackpot Number- </div><div class='col col-auto'><b class='bg-success rounded p-1'>{{ a.arc.jp }}</b></div>
        </div>
        {% endif %}
        <div class='row'>
          <div class='col col-auto'>TOTAL- </div><div class='col col-auto'><b>{{ a.total|intcomma }}</b></div>
        </div>
        {% if a.arc.jp %}
        <div class='row'>
          <div class='col col-auto'>Pay Out- </div><div class='col col-auto'><b>{{ a.loss|intcomma }}</b></div>
        </div>
        {% endif %}
        {% if a.commission != 0 %}
        <div class='row'>
          <div class='col col-auto'>Commission- </div><div class='col col-auto'><b>{{ a.commission|intcomma }}</b></div>
        </div>
        {% endif %}

        {% if a.net != 0 %}
        <div class='row'>
        {% if a.net < 0 %}
          <div class='col col-auto'><p>{{ a.arc.user.first_name|upper }} get <b class='p-1 border-1 rounded bg-info'>{{ a.net|abs_value|intcomma }}</b></p></div>
        {% elif a.net > 0 %}
          <div class='col col-auto'><p>{{ a.arc.user.first_name|upper }} pay <b class='p-1 border-1 rounded bg-info'>{{ a.net|abs_value|intcomma }}</b></p></div>
        {% endif %}
        </div>
        {% endif %}
        <div class='row row-cols-auto'>
            {% for l in a.arc.archiveLog.all %}
            <div class='col col-auto border border-1 p-2'><b class='bg-info rounded p-1'>{{ l.num.num }}</b><span class='ms-1'>{{ l.value|intcomma }}</span>
            {% if l.limit != 99999999999 %}/{{ l.limit|intword }}{% endif %}
            </div>
            {% endfor %}
        </div>
        
      </div>
    </div>
  </div>
{% endfor %}
</div>

<div class='container mx-auto mt-3' style="width: fit-content">
<div class="pagination">
    <span class="step-links">
        {% if arcs.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ arcs.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ arcs.number }} of {{ arcs.paginator.num_pages }}.
        </span>

        {% if arcs.has_next %}
            <a href="?page={{ arcs.next_page_number }}">next</a>
            <a href="?page={{ arcs.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>
{% endblock %}