{% extends "twoD/layout.html" %}
{% load static %}


{% block content %}
<div class="list-group">
  <div class="form-check form-switch p-0 mx-auto">
    <input class="form-check-input" type="checkbox" role="switch" id="openClose" onclick='openClose(event)' {% if not close %} checked {% endif %}>
    <label class="form-check-label" id='opencloseLabel' for="openClose">{% if close %} Now Close {% else %} Now Open {% endif %}</label>
  </div>
  <button type='button' class='nav-btn-custom no-bdr-top' onclick="showSetLimit()">ဘရိတ် ထည့်မယ်</button>
  <button type='button' class='nav-btn-custom ' onclick="checkTotal()" >စုစုပေါင်း</button>
  <button type='button' class='nav-btn-custom ' onclick="showLogs()" >ဒီနေ့မှတ်တမ်း</button>
  <button type='button' class='nav-btn-custom ' onclick='showCloseEntry()'>အဝင်ပိတ်မယ်</button>
  <button type='button' class='nav-btn-custom ' onclick='showAddJackpot()'>ပေါက်သီးထည့်မယ်</button>
  <a type='button' class='nav-btn-custom ' href='{% url 'history' %}' >အရင် စာရင်း</a>
  <a class="nav-btn-custom" href="{% url 'register' %}">အကောင့်သစ်လျှောက်</a>
  <a class="nav-btn-custom" href="{% url 'setting' %}">Setting</a>
  <a type='button' class='nav-btn-custom no-bdr-bottom' href='{% url 'logout_view' %}' >အကောင့် ထွက်မယ်</a>
</div>
{% endblock %}

{% block body %}
<script src="{% static 'twoD/index.js' %}"></script>
{% if messages  %}
    {% for message in messages %}
        <h4 class="text-center {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</h4>
    {% endfor %}
{% endif %}



<button type="button" id='logModalBtn' data-bs-toggle="modal" data-bs-target="#logModal" hidden>
</button>

<!-- Modal -->
<div class="modal fade" id="logModal" tabindex="-1" aria-labelledby="logModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="mdl_title"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id='mdl_close'></button>
      </div>
      <div class="modal-body"  id='mdl_body'>

      </div>
      <div class="modal-footer" id='mdl_footer'>
        <button type="button" id='mdl_close' class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
<div id='hide_setting'>
  {% for setting in settings %}
    <div id='setting_{{ setting.user.id }}'>
      <input type='number' id='defaultLimit_{{ setting.user.id }}' value='{{ setting.limit }}' hidden>
      <input type='number' id='payRate_{{ setting.user.id }}' value='{{ setting.payout_rate }}' hidden>
      <input type='number' id='commission_{{ setting.user.id }}' value='{{ setting.commission }}' hidden>
    </div>
  {% endfor %}
</div>



<div id="hide_total">

</div>
<div class='loadingDi' id='loadingDiv' style='display: none;'>
  <div class='position-absolute top-50 start-50 translate-middle'>
    <div class="spinner-border my-auto text-light" role="status">
      <span class="visually-hidden">Loading...</span>
  </div>
  </div>
</div>
<div class="table-container">
  <table class="caption-top">
    <caption>
      <span class='text-bg-warning rounded p-1' id='openCloseCaption' {% if close %} style='display: block;width: fit-content;' {% else %} style='display: none;width: fit-content;' {% endif %}>စာရင်းများအားလုံးပိတ်ထားပါသည်</span>
    </caption>
    <thead>
      <tr>
        <th>NO</th>
        {% for user in users %}
          <th data-id='{{ user.id }}' class='users'  style='width: 100px;word-break: keep-all;'>{{ user.first_name }}</th>
        {% endfor %%}
      </tr>
    </thead>
    <tbody>
      {% for num in nums %}
        <tr>
          <td class='nums' data-id='{{ num.id }}'>{{ num.num }}</td>
          {% for user in users %}
          <td class='datas' id='value_{{ num.id }}_{{ user.id }}'><div class='row'><div class='col vals'>0</div></div></td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}