{% extends "twoD/layout.html" %}
{% load static %}

{% block content %}
{% if setting %}
<div class="list-group" style='width: 200px;'>
  <div class="input-group mb-3">
    <span class="input-group-text p-0" id="inputGroup-sizing-default">ပုံမှန် ဘရိတ်</span>
    <input type='number' value="{{ setting.limit }}" id='defaultLimit' readonly class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text p-0" id="inputGroup-sizing-default">လျော်ဆ</span>
    <input type='number' value="{{ setting.payout_rate }}" id='payRate' readonly class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text p-0" id="inputGroup-sizing-default">ကော်ဆ</span>
    <input type='number' value="{{ setting.commission }}" id='commission' readonly class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>
  
</div>
{% endif %}

<div class="list-group">
  <button type='button' class='nav-btn-custom no-bdr-top' onclick="showSell()">ရောင်းမယ်</button>
  <button type='button' class='nav-btn-custom' onclick="GetMyLogs()">ဒီနေ့မှတ်တမ်း</button>
  <a type='button' class='nav-btn-custom' href='{% url 'history' %}'>အရင် စာရင်း</a>
  <button type='button' class='nav-btn-custom' onclick="GetTotalAcount()">စုစုပေါင်း</button>
  <a type='button' class='nav-btn-custom no-bdr-bottom' href='{% url 'logout_view' %}' >အကောင့် ထွက်မယ်</a>
  
</div>


{% endblock %}


{% block body %}

<script src="{% static 'twoD/sellerpage.js' %}"></script>
<h2 class="text-center">Welcome {{ user.first_name }}</h2>
<button type="button" id='logModalBtn' data-bs-toggle="modal" data-bs-target="#logModal" hidden>
</button>
  
  <div class="modal fade" id="logModal" tabindex="-1" aria-labelledby="logModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="logModalLabel"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id='mdl_close'></button>
        </div>
        <div class="modal-body"  id='logMdlBody'>
          
        </div>
      </div>
    </div>
  </div>

{% if messages  %}
    {% for message in messages %}
        <h4 class="text-center {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</h4>
    {% endfor %}
{% endif %}


<div class='loadingDi' id='loadingDiv' style='display: none;'>
  <div class='position-absolute top-50 start-50 translate-middle'>
    <div class="spinner-border my-auto text-light" role="status">
      <span class="visually-hidden">Loading...</span>
  </div>
  </div>
</div>


<div class="input-num" id='allData'>
    
</div>




{% endblock %}